/* 

Color Palette: https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557

*/

:root {
  --red: #e63946;
  --off-white: #f9f9f9;
  --blue: #457b9d;
  --dark-blue: #1d3557;
  --space: #171738;
}

body {
  /* margin-left: 10%;
  margin-right: 10%; */
  /* padding: 0 5%; */
  min-height: 100vh;
  background-color: var(--off-white);
  /* background-color: var(--space); */
  font-size: 2rem;
  /* width: 70%; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
container{
  /* display: block; */
  width: 100%;
  padding-right: 15px;
    padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* margin-right: 10%; */
  /* margin-left: 10%; */
}
nav{
  /* font-size: large; */
  color: #e63946;
}
.navbar-brand{
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.blog-header-logo{
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-family: "Cardo";
  font-size: 2.25rem;
  /* padding-right: 2rem; */
}
a {
  color: var(--red);
}

a:hover,
a:focus {
  color: var(--blue);
  text-decoration: none;
}

#site-logo {
  max-height: 200px;
}
p{
  font-size: 15px;
}
nav{
  /* padding-left: 5rem; */
  font-size: 16px;
  /* margin-bottom: 3rem; */
}
footer {
  padding: 1em;
  background-color: var(--dark-blue);
}
